<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      {{PLACEHOLDER}}
    </script>

    <title>location.href cleaner tests</title>

    <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-{{JASMINE}}/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-{{JASMINE}}/jasmine.css"> 

    <script type="text/javascript" src="jasmine/lib/jasmine-{{JASMINE}}/jasmine.js"></script>
    <script type="text/javascript" src="jasmine/lib/jasmine-{{JASMINE}}/jasmine-html.js"></script>
    <script type="text/javascript" src="jasmine/lib/jasmine-{{JASMINE}}/boot.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <h1><code>location.href</code> cleaner tests</h1>
  </body>
</html>
